# Jupyter Lab
.ipynb_checkpoints
FilesizeReduction.ipynb

# Filetypes
*.tsv
*.probeMap

# Large Datasets
data/GDC-PANCAN.htseq_fpkm-uq.parquet
data/GDC-PANCAN.htseq_fpkm-uq_float16.parquet
data/GDC-PANCAN.survival.parquet
data/GDC-PANCAN.basic_phenotype.parquet

# MacOS
.DS_Store