# Jupyter Lab
.ipynb_checkpoints

# Filetypes
*.tsv
*.probeMap

# Large Datasets
data/GDC-PANCAN.htseq_fpkm-uq.parquet
data/GDC-PANCAN.htseq_fpkm-uq_float16.parquet
FilesizeReduction.ipynb

# MacOS
.DS_Store